In [1]:
import pandas as pd
import numpy as np

In [9]:
df_trans = pd.read_table('data/trans.asc', sep=";")
print(df_trans.head())
df_trans.shape

   trans_id  account_id    date    type operation  amount  balance k_symbol  \
0    695247        2378  930101  PRIJEM     VKLAD   700.0    700.0      NaN
1    171812         576  930101  PRIJEM     VKLAD   900.0    900.0      NaN
2    207264         704  930101  PRIJEM     VKLAD  1000.0   1000.0      NaN
3   1117247        3818  930101  PRIJEM     VKLAD   600.0    600.0      NaN
4    579373        1972  930102  PRIJEM     VKLAD   400.0    400.0      NaN

  bank  account
0  NaN      NaN
1  NaN      NaN
2  NaN      NaN
3  NaN      NaN
4  NaN      NaN

/home/tomoaki/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1056320, 10)

In [10]:
df_order = pd.read_table('data/order.asc', sep=";")
print(df_order.head())
df_order.shape

   order_id  account_id bank_to  account_to  amount k_symbol
0     29401           1      YZ    87144583  2452.0     SIPO
1     29402           2      ST    89597016  3372.7     UVER
2     29403           2      QR    13943797  7266.0     SIPO
3     29404           3      WX    83084338  1135.0     SIPO
4     29405           3      CD    24485939   327.0

(6471, 6)

In [12]:
df_loan = pd.read_table('data/loan.asc', sep=";")
print(df_loan.head())
df_loan.shape

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12    8033.0      B
1     5316        1801  930711  165960        36    4610.0      A
2     6863        9188  930728  127080        60    2118.0      A
3     5325        1843  930803  105804        36    2939.0      A
4     7240       11013  930906  274740        60    4579.0      A

(682, 7)

In [13]:
df_district = pd.read_table('data/district.asc', sep=";")
print(df_district.head())
df_district.shape

   A1           A2               A3       A4  A5  A6  A7  A8  A9    A10  \
0   1  Hl.m. Praha           Prague  1204953   0   0   0   1   1  100.0
1   2      Benesov  central Bohemia    88884  80  26   6   2   5   46.7
2   3       Beroun  central Bohemia    75232  55  26   4   1   5   41.7
3   4       Kladno  central Bohemia   149893  63  29   6   2   6   67.4
4   5        Kolin  central Bohemia    95616  65  30   4   1   6   51.4

     A11   A12   A13  A14    A15    A16
0  12541  0.29  0.43  167  85677  99107
1   8507  1.67  1.85  132   2159   2674
2   8980  1.95  2.21  111   2824   2813
3   9753  4.64  5.05  109   5244   5892
4   9307  3.85  4.43  118   2616   3040

(77, 16)

In [ ]:
df_district = pd.read_table('data/district.asc', sep=";")
print(df_district.head())
df_district.shape