In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("../datasets/Google.csv")
df.index = pd.DatetimeIndex(df['Date'].values)
close = df["Close"]

In [4]:
def mp_num_co_events(close_idx, t1, molecule):
    t1 = t1.fillna(close_idx[-1])
    t1 = t1[t1 >= molecule[0]]
    t1 = t1.loc[:t1[molecule].max()]
    
    iloc = close_index.searchsorted(np.array([t1.index[0], t1.max()]))
    count = pd.Series(0, index=close_idx[loc[0]: iloc[1] + 1])
    for t_in, t_out in t1.iterterms():
        count.loc[t_in: t_out] += 1
    return count.loc[molecule[0]: t1[molecule].max()]

In [8]:
def mp_sample_tw(t1, num_co_events, molecule):
    wght = pd.Series(index=molecule)
    for t_in, t_out in t1.loc[wght.index].iteritems():
        wght.loc[t_in] = (1. / num_co_events.loc[t_in: t_out]).mean()
    return wght

In [5]:
for x in close.iteritems():
    print(x)

(Timestamp('2004-08-19 00:00:00'), 100.335)
(Timestamp('2004-08-20 00:00:00'), 108.31)
(Timestamp('2004-08-23 00:00:00'), 109.4)
(Timestamp('2004-08-24 00:00:00'), 104.87)
(Timestamp('2004-08-25 00:00:00'), 106.0)
(Timestamp('2004-08-26 00:00:00'), 107.91)
(Timestamp('2004-08-27 00:00:00'), 106.15)
(Timestamp('2004-08-30 00:00:00'), 102.01)
(Timestamp('2004-08-31 00:00:00'), 102.37)
(Timestamp('2004-09-01 00:00:00'), 100.25)
(Timestamp('2004-09-02 00:00:00'), 101.51)
(Timestamp('2004-09-03 00:00:00'), 100.01)
(Timestamp('2004-09-07 00:00:00'), 101.58)
(Timestamp('2004-09-08 00:00:00'), 102.3)
(Timestamp('2004-09-09 00:00:00'), 102.31)
(Timestamp('2004-09-10 00:00:00'), 105.33)
(Timestamp('2004-09-13 00:00:00'), 107.5)
(Timestamp('2004-09-14 00:00:00'), 111.49)
(Timestamp('2004-09-15 00:00:00'), 112.0)
(Timestamp('2004-09-16 00:00:00'), 113.97)
(Timestamp('2004-09-17 00:00:00'), 117.49)
(Timestamp('2004-09-20 00:00:00'), 119.36)
(Timestamp('2004-09-21 00:00:00'), 117.84)
(Timestamp('2004-09-22 00:00:00'), 118.38)
(Timestamp('2004-09-23 00:00:00'), 120.82)
(Timestamp('2004-09-24 00:00:00'), 119.83)
(Timestamp('2004-09-27 00:00:00'), 118.26)
(Timestamp('2004-09-28 00:00:00'), 126.86)
(Timestamp('2004-09-29 00:00:00'), 131.08)
(Timestamp('2004-09-30 00:00:00'), 129.6)
(Timestamp('2004-10-01 00:00:00'), 132.58)
(Timestamp('2004-10-04 00:00:00'), 135.06)
(Timestamp('2004-10-05 00:00:00'), 138.37)
(Timestamp('2004-10-06 00:00:00'), 137.08)
(Timestamp('2004-10-07 00:00:00'), 138.85)
(Timestamp('2004-10-08 00:00:00'), 137.73)
(Timestamp('2004-10-11 00:00:00'), 135.26)
(Timestamp('2004-10-12 00:00:00'), 137.4)
(Timestamp('2004-10-13 00:00:00'), 140.9)
(Timestamp('2004-10-14 00:00:00'), 142.0)
(Timestamp('2004-10-15 00:00:00'), 144.11)
(Timestamp('2004-10-18 00:00:00'), 149.16)
(Timestamp('2004-10-19 00:00:00'), 147.94)
(Timestamp('2004-10-20 00:00:00'), 140.49)
(Timestamp('2004-10-21 00:00:00'), 149.38)
(Timestamp('2004-10-22 00:00:00'), 172.43)
(Timestamp('2004-10-25 00:00:00'), 187.4)
(Timestamp('2004-10-26 00:00:00'), 181.8)
(Timestamp('2004-10-27 00:00:00'), 185.97)
(Timestamp('2004-10-28 00:00:00'), 193.3)
(Timestamp('2004-10-29 00:00:00'), 190.64)
(Timestamp('2004-11-01 00:00:00'), 196.03)
(Timestamp('2004-11-02 00:00:00'), 194.87)
(Timestamp('2004-11-03 00:00:00'), 191.67)
(Timestamp('2004-11-04 00:00:00'), 184.7)
(Timestamp('2004-11-05 00:00:00'), 169.35)
(Timestamp('2004-11-08 00:00:00'), 172.55)
(Timestamp('2004-11-09 00:00:00'), 168.7)
(Timestamp('2004-11-10 00:00:00'), 167.86)
(Timestamp('2004-11-11 00:00:00'), 183.02)
(Timestamp('2004-11-12 00:00:00'), 182.0)
(Timestamp('2004-11-15 00:00:00'), 184.87)
(Timestamp('2004-11-16 00:00:00'), 172.545)
(Timestamp('2004-11-17 00:00:00'), 172.5)
(Timestamp('2004-11-18 00:00:00'), 167.54)
(Timestamp('2004-11-19 00:00:00'), 169.4)
(Timestamp('2004-11-22 00:00:00'), 165.1)
(Timestamp('2004-11-23 00:00:00'), 167.52)
(Timestamp('2004-11-24 00:00:00'), 174.76)
(Timestamp('2004-11-26 00:00:00'), 179.39)
(Timestamp('2004-11-29 00:00:00'), 181.05)
(Timestamp('2004-11-30 00:00:00'), 181.98)
(Timestamp('2004-12-01 00:00:00'), 179.96)
(Timestamp('2004-12-02 00:00:00'), 179.4)
(Timestamp('2004-12-03 00:00:00'), 180.4)
(Timestamp('2004-12-06 00:00:00'), 176.29)
(Timestamp('2004-12-07 00:00:00'), 171.43)
(Timestamp('2004-12-08 00:00:00'), 169.98)
(Timestamp('2004-12-09 00:00:00'), 173.43)
(Timestamp('2004-12-10 00:00:00'), 171.65)
(Timestamp('2004-12-13 00:00:00'), 170.45)
(Timestamp('2004-12-14 00:00:00'), 178.69)
(Timestamp('2004-12-15 00:00:00'), 179.78)
(Timestamp('2004-12-16 00:00:00'), 176.47)
(Timestamp('2004-12-17 00:00:00'), 180.08)
(Timestamp('2004-12-20 00:00:00'), 185.02)
(Timestamp('2004-12-21 00:00:00'), 183.75)
(Timestamp('2004-12-22 00:00:00'), 186.3)
(Timestamp('2004-12-23 00:00:00'), 187.9)
(Timestamp('2004-12-27 00:00:00'), 191.91)
(Timestamp('2004-12-28 00:00:00'), 192.76)
(Timestamp('2004-12-29 00:00:00'), 192.9)
(Timestamp('2004-12-30 00:00:00'), 197.6)
(Timestamp('2004-12-31 00:00:00'), 192.79)
(Timestamp('2005-01-03 00:00:00'), 202.71)
(Timestamp('2005-01-04 00:00:00'), 194.5)
(Timestamp('2005-01-05 00:00:00'), 193.51)
(Timestamp('2005-01-06 00:00:00'), 188.55)
(Timestamp('2005-01-07 00:00:00'), 193.85)
(Timestamp('2005-01-10 00:00:00'), 195.06)
(Timestamp('2005-01-11 00:00:00'), 193.54)
(Timestamp('2005-01-12 00:00:00'), 195.38)
(Timestamp('2005-01-13 00:00:00'), 195.33)
(Timestamp('2005-01-14 00:00:00'), 199.97)
(Timestamp('2005-01-18 00:00:00'), 203.9)
(Timestamp('2005-01-19 00:00:00'), 197.3)
(Timestamp('2005-01-20 00:00:00'), 193.92)
(Timestamp('2005-01-21 00:00:00'), 188.28)
(Timestamp('2005-01-24 00:00:00'), 180.72)
(Timestamp('2005-01-25 00:00:00'), 177.12)
(Timestamp('2005-01-26 00:00:00'), 189.24)
(Timestamp('2005-01-27 00:00:00'), 188.08)
(Timestamp('2005-01-28 00:00:00'), 190.34)
(Timestamp('2005-01-31 00:00:00'), 195.62)
(Timestamp('2005-02-01 00:00:00'), 191.9)
(Timestamp('2005-02-02 00:00:00'), 205.96)
(Timestamp('2005-02-03 00:00:00'), 210.86)
(Timestamp('2005-02-04 00:00:00'), 204.36)
(Timestamp('2005-02-07 00:00:00'), 196.03)
(Timestamp('2005-02-08 00:00:00'), 198.64)
(Timestamp('2005-02-09 00:00:00'), 191.58)
(Timestamp('2005-02-10 00:00:00'), 187.98)
(Timestamp('2005-02-11 00:00:00'), 187.4)
(Timestamp('2005-02-14 00:00:00'), 192.99)
(Timestamp('2005-02-15 00:00:00'), 195.23)
(Timestamp('2005-02-16 00:00:00'), 198.41)
(Timestamp('2005-02-17 00:00:00'), 197.9)
(Timestamp('2005-02-18 00:00:00'), 197.95)
(Timestamp('2005-02-22 00:00:00'), 191.37)
(Timestamp('2005-02-23 00:00:00'), 193.95)
(Timestamp('2005-02-24 00:00:00'), 188.89)
(Timestamp('2005-02-25 00:00:00'), 185.87)
(Timestamp('2005-02-28 00:00:00'), 187.99)
(Timestamp('2005-03-01 00:00:00'), 186.06)
(Timestamp('2005-03-02 00:00:00'), 185.18)
(Timestamp('2005-03-03 00:00:00'), 187.005)
(Timestamp('2005-03-04 00:00:00'), 185.9)
(Timestamp('2005-03-07 00:00:00'), 188.81)
(Timestamp('2005-03-08 00:00:00'), 185.2)
(Timestamp('2005-03-09 00:00:00'), 181.35)
(Timestamp('2005-03-10 00:00:00'), 179.98)
(Timestamp('2005-03-11 00:00:00'), 177.8)
(Timestamp('2005-03-14 00:00:00'), 174.99)
(Timestamp('2005-03-15 00:00:00'), 178.61)
(Timestamp('2005-03-16 00:00:00'), 175.6)
(Timestamp('2005-03-17 00:00:00'), 179.29)
(Timestamp('2005-03-18 00:00:00'), 180.04)
(Timestamp('2005-03-21 00:00:00'), 180.88)
(Timestamp('2005-03-22 00:00:00'), 178.6)
(Timestamp('2005-03-23 00:00:00'), 178.98)
(Timestamp('2005-03-24 00:00:00'), 179.25)
(Timestamp('2005-03-28 00:00:00'), 181.42)
(Timestamp('2005-03-29 00:00:00'), 179.57)
(Timestamp('2005-03-30 00:00:00'), 180.45)
(Timestamp('2005-03-31 00:00:00'), 180.51)
(Timestamp('2005-04-01 00:00:00'), 180.04)
(Timestamp('2005-04-04 00:00:00'), 185.29)
(Timestamp('2005-04-05 00:00:00'), 188.57)
(Timestamp('2005-04-06 00:00:00'), 189.22)
(Timestamp('2005-04-07 00:00:00'), 193.76)
(Timestamp('2005-04-08 00:00:00'), 192.05)
(Timestamp('2005-04-11 00:00:00'), 193.23)
(Timestamp('2005-04-12 00:00:00'), 193.955)
(Timestamp('2005-04-13 00:00:00'), 192.93)
(Timestamp('2005-04-14 00:00:00'), 191.45)
(Timestamp('2005-04-15 00:00:00'), 185.0)
(Timestamp('2005-04-18 00:00:00'), 186.97)
(Timestamp('2005-04-19 00:00:00'), 191.4)
(Timestamp('2005-04-20 00:00:00'), 198.1)
(Timestamp('2005-04-21 00:00:00'), 204.75)
(Timestamp('2005-04-22 00:00:00'), 215.81)
(Timestamp('2005-04-25 00:00:00'), 223.53)
(Timestamp('2005-04-26 00:00:00'), 218.75)
(Timestamp('2005-04-27 00:00:00'), 219.78)
(Timestamp('2005-04-28 00:00:00'), 219.45)
(Timestamp('2005-04-29 00:00:00'), 220.0)
(Timestamp('2005-05-02 00:00:00'), 222.29)
(Timestamp('2005-05-03 00:00:00'), 226.19)
(Timestamp('2005-05-04 00:00:00'), 228.5)
(Timestamp('2005-05-05 00:00:00'), 226.98)
(Timestamp('2005-05-06 00:00:00'), 228.02)
(Timestamp('2005-05-09 00:00:00'), 226.02)
(Timestamp('2005-05-10 00:00:00'), 227.8)
(Timestamp('2005-05-11 00:00:00'), 231.29)
(Timestamp('2005-05-12 00:00:00'), 228.72)
(Timestamp('2005-05-13 00:00:00'), 229.24)
(Timestamp('2005-05-16 00:00:00'), 231.05)
(Timestamp('2005-05-17 00:00:00'), 233.13)
(Timestamp('2005-05-18 00:00:00'), 239.16)
(Timestamp('2005-05-19 00:00:00'), 239.18)
(Timestamp('2005-05-20 00:00:00'), 241.61)
(Timestamp('2005-05-23 00:00:00'), 255.45)
(Timestamp('2005-05-24 00:00:00'), 256.0)
(Timestamp('2005-05-25 00:00:00'), 260.81)
(Timestamp('2005-05-26 00:00:00'), 259.2)
(Timestamp('2005-05-27 00:00:00'), 266.0)
(Timestamp('2005-05-31 00:00:00'), 277.27)
(Timestamp('2005-06-01 00:00:00'), 288.0)
(Timestamp('2005-06-02 00:00:00'), 287.9)
(Timestamp('2005-06-03 00:00:00'), 280.26)
(Timestamp('2005-06-06 00:00:00'), 290.94)
(Timestamp('2005-06-07 00:00:00'), 293.12)
(Timestamp('2005-06-08 00:00:00'), 279.56)
(Timestamp('2005-06-09 00:00:00'), 286.31)
(Timestamp('2005-06-10 00:00:00'), 282.5)
(Timestamp('2005-06-13 00:00:00'), 282.75)
(Timestamp('2005-06-14 00:00:00'), 278.35)
(Timestamp('2005-06-15 00:00:00'), 274.8)
(Timestamp('2005-06-16 00:00:00'), 277.44)
(Timestamp('2005-06-17 00:00:00'), 280.3)
(Timestamp('2005-06-20 00:00:00'), 286.7)
(Timestamp('2005-06-21 00:00:00'), 287.84)
(Timestamp('2005-06-22 00:00:00'), 289.3)
(Timestamp('2005-06-23 00:00:00'), 289.71)
(Timestamp('2005-06-24 00:00:00'), 297.25)
(Timestamp('2005-06-27 00:00:00'), 304.1)
(Timestamp('2005-06-28 00:00:00'), 302.0)
(Timestamp('2005-06-29 00:00:00'), 292.72)
(Timestamp('2005-06-30 00:00:00'), 294.15)
(Timestamp('2005-07-01 00:00:00'), 291.25)
(Timestamp('2005-07-05 00:00:00'), 295.71)
(Timestamp('2005-07-06 00:00:00'), 291.525)
(Timestamp('2005-07-07 00:00:00'), 295.54)
(Timestamp('2005-07-08 00:00:00'), 296.23)
(Timestamp('2005-07-11 00:00:00'), 293.35)
(Timestamp('2005-07-12 00:00:00'), 291.784)
(Timestamp('2005-07-13 00:00:00'), 298.86)
(Timestamp('2005-07-14 00:00:00'), 300.89)
(Timestamp('2005-07-15 00:00:00'), 301.19)
(Timestamp('2005-07-18 00:00:00'), 299.54)
(Timestamp('2005-07-19 00:00:00'), 309.9)
(Timestamp('2005-07-20 00:00:00'), 312.0)
(Timestamp('2005-07-21 00:00:00'), 313.94)
(Timestamp('2005-07-22 00:00:00'), 302.4)
(Timestamp('2005-07-25 00:00:00'), 295.85)
(Timestamp('2005-07-26 00:00:00'), 296.09)
(Timestamp('2005-07-27 00:00:00'), 296.93)
(Timestamp('2005-07-28 00:00:00'), 293.5)
(Timestamp('2005-07-29 00:00:00'), 287.76)
(Timestamp('2005-08-01 00:00:00'), 291.6099)
(Timestamp('2005-08-02 00:00:00'), 299.19)
(Timestamp('2005-08-03 00:00:00'), 297.3)
(Timestamp('2005-08-04 00:00:00'), 297.73)
(Timestamp('2005-08-05 00:00:00'), 292.35)
(Timestamp('2005-08-08 00:00:00'), 291.25)
(Timestamp('2005-08-09 00:00:00'), 291.57)
(Timestamp('2005-08-10 00:00:00'), 285.68)
(Timestamp('2005-08-11 00:00:00'), 284.05)
(Timestamp('2005-08-12 00:00:00'), 289.721)
(Timestamp('2005-08-15 00:00:00'), 284.0)
(Timestamp('2005-08-16 00:00:00'), 285.65)
(Timestamp('2005-08-17 00:00:00'), 285.1)
(Timestamp('2005-08-18 00:00:00'), 279.99)
(Timestamp('2005-08-19 00:00:00'), 280.0)
(Timestamp('2005-08-22 00:00:00'), 274.01)
(Timestamp('2005-08-23 00:00:00'), 279.58)
(Timestamp('2005-08-24 00:00:00'), 282.57)
(Timestamp('2005-08-25 00:00:00'), 282.59)
(Timestamp('2005-08-26 00:00:00'), 283.58)
(Timestamp('2005-08-29 00:00:00'), 288.45)
(Timestamp('2005-08-30 00:00:00'), 287.27)
(Timestamp('2005-08-31 00:00:00'), 286.0)
(Timestamp('2005-09-01 00:00:00'), 286.25)
(Timestamp('2005-09-02 00:00:00'), 288.45)
(Timestamp('2005-09-06 00:00:00'), 287.11)
(Timestamp('2005-09-07 00:00:00'), 294.87)
(Timestamp('2005-09-08 00:00:00'), 295.39)
(Timestamp('2005-09-09 00:00:00'), 299.09)
(Timestamp('2005-09-12 00:00:00'), 309.74)
(Timestamp('2005-09-13 00:00:00'), 311.68)
(Timestamp('2005-09-14 00:00:00'), 303.0)
(Timestamp('2005-09-15 00:00:00'), 302.62)
(Timestamp('2005-09-16 00:00:00'), 300.2)
(Timestamp('2005-09-19 00:00:00'), 303.79)
(Timestamp('2005-09-20 00:00:00'), 307.91)
(Timestamp('2005-09-21 00:00:00'), 311.9)
(Timestamp('2005-09-22 00:00:00'), 311.37)
(Timestamp('2005-09-23 00:00:00'), 315.36)
(Timestamp('2005-09-26 00:00:00'), 314.28)
(Timestamp('2005-09-27 00:00:00'), 313.94)
(Timestamp('2005-09-28 00:00:00'), 306.0)
(Timestamp('2005-09-29 00:00:00'), 309.62)
(Timestamp('2005-09-30 00:00:00'), 316.46)
(Timestamp('2005-10-03 00:00:00'), 318.68)
(Timestamp('2005-10-04 00:00:00'), 311.0)
(Timestamp('2005-10-05 00:00:00'), 310.71)
(Timestamp('2005-10-06 00:00:00'), 312.75)
(Timestamp('2005-10-07 00:00:00'), 312.99)
(Timestamp('2005-10-10 00:00:00'), 310.65)
(Timestamp('2005-10-11 00:00:00'), 306.1)
(Timestamp('2005-10-12 00:00:00'), 300.97)
(Timestamp('2005-10-13 00:00:00'), 297.44)
(Timestamp('2005-10-14 00:00:00'), 296.14)
(Timestamp('2005-10-17 00:00:00'), 305.0)
(Timestamp('2005-10-18 00:00:00'), 303.28)
(Timestamp('2005-10-19 00:00:00'), 308.7)
(Timestamp('2005-10-20 00:00:00'), 303.2)
(Timestamp('2005-10-21 00:00:00'), 339.9)
(Timestamp('2005-10-24 00:00:00'), 348.65)
(Timestamp('2005-10-25 00:00:00'), 346.91)
(Timestamp('2005-10-26 00:00:00'), 355.44)
(Timestamp('2005-10-27 00:00:00'), 353.06)
(Timestamp('2005-10-28 00:00:00'), 358.17)
(Timestamp('2005-10-31 00:00:00'), 372.14)
(Timestamp('2005-11-01 00:00:00'), 379.38)
(Timestamp('2005-11-02 00:00:00'), 379.68)
(Timestamp('2005-11-03 00:00:00'), 385.95)
(Timestamp('2005-11-04 00:00:00'), 390.43)
(Timestamp('2005-11-07 00:00:00'), 395.03)
(Timestamp('2005-11-08 00:00:00'), 389.9)
(Timestamp('2005-11-09 00:00:00'), 379.15)
(Timestamp('2005-11-10 00:00:00'), 391.1)
(Timestamp('2005-11-11 00:00:00'), 390.4)
(Timestamp('2005-11-14 00:00:00'), 396.97)
(Timestamp('2005-11-15 00:00:00'), 392.8)
(Timestamp('2005-11-16 00:00:00'), 398.15)
(Timestamp('2005-11-17 00:00:00'), 403.45)
(Timestamp('2005-11-18 00:00:00'), 400.21)
(Timestamp('2005-11-21 00:00:00'), 409.36)
(Timestamp('2005-11-22 00:00:00'), 416.47)
(Timestamp('2005-11-23 00:00:00'), 422.86)
(Timestamp('2005-11-25 00:00:00'), 428.62)
(Timestamp('2005-11-28 00:00:00'), 423.48)
(Timestamp('2005-11-29 00:00:00'), 403.54)
(Timestamp('2005-11-30 00:00:00'), 404.9125)
(Timestamp('2005-12-01 00:00:00'), 414.0901)
(Timestamp('2005-12-02 00:00:00'), 417.7)
(Timestamp('2005-12-05 00:00:00'), 405.85)
(Timestamp('2005-12-06 00:00:00'), 404.54)
(Timestamp('2005-12-07 00:00:00'), 404.22)
(Timestamp('2005-12-08 00:00:00'), 410.65)
(Timestamp('2005-12-09 00:00:00'), 409.2)
(Timestamp('2005-12-12 00:00:00'), 412.61199999999997)
(Timestamp('2005-12-13 00:00:00'), 417.49)
(Timestamp('2005-12-14 00:00:00'), 418.96)
(Timestamp('2005-12-15 00:00:00'), 422.53)
(Timestamp('2005-12-16 00:00:00'), 430.15)
(Timestamp('2005-12-19 00:00:00'), 424.6)
(Timestamp('2005-12-20 00:00:00'), 429.74)
(Timestamp('2005-12-21 00:00:00'), 426.33)
(Timestamp('2005-12-22 00:00:00'), 432.04)
(Timestamp('2005-12-23 00:00:00'), 430.93)
(Timestamp('2005-12-27 00:00:00'), 424.64)
(Timestamp('2005-12-28 00:00:00'), 426.69)
(Timestamp('2005-12-29 00:00:00'), 420.15)
(Timestamp('2005-12-30 00:00:00'), 414.86)
(Timestamp('2006-01-03 00:00:00'), 435.23)
(Timestamp('2006-01-04 00:00:00'), 445.24)
(Timestamp('2006-01-05 00:00:00'), 451.24)
(Timestamp('2006-01-06 00:00:00'), 465.66)
(Timestamp('2006-01-09 00:00:00'), 466.9001)
(Timestamp('2006-01-10 00:00:00'), 469.76)
(Timestamp('2006-01-11 00:00:00'), 471.63)
(Timestamp('2006-01-12 00:00:00'), 463.63)
(Timestamp('2006-01-13 00:00:00'), 466.25)
(Timestamp('2006-01-17 00:00:00'), 467.11)
(Timestamp('2006-01-18 00:00:00'), 444.9099)
(Timestamp('2006-01-19 00:00:00'), 436.445)
(Timestamp('2006-01-20 00:00:00'), 399.4601)
(Timestamp('2006-01-23 00:00:00'), 427.5)
(Timestamp('2006-01-24 00:00:00'), 443.03)
(Timestamp('2006-01-25 00:00:00'), 433.0)
(Timestamp('2006-01-26 00:00:00'), 434.265)
(Timestamp('2006-01-27 00:00:00'), 433.49)
(Timestamp('2006-01-30 00:00:00'), 426.82)
(Timestamp('2006-01-31 00:00:00'), 432.6601)
(Timestamp('2006-02-01 00:00:00'), 401.78)
(Timestamp('2006-02-02 00:00:00'), 396.04)
(Timestamp('2006-02-03 00:00:00'), 381.555)
(Timestamp('2006-02-06 00:00:00'), 385.1)
(Timestamp('2006-02-07 00:00:00'), 367.92)
(Timestamp('2006-02-08 00:00:00'), 369.08)
(Timestamp('2006-02-09 00:00:00'), 358.77)
(Timestamp('2006-02-10 00:00:00'), 362.61)
(Timestamp('2006-02-13 00:00:00'), 345.7)
(Timestamp('2006-02-14 00:00:00'), 343.32)
(Timestamp('2006-02-15 00:00:00'), 342.38)
(Timestamp('2006-02-16 00:00:00'), 366.46)
(Timestamp('2006-02-17 00:00:00'), 368.75)
(Timestamp('2006-02-21 00:00:00'), 366.59)
(Timestamp('2006-02-22 00:00:00'), 365.49)
(Timestamp('2006-02-23 00:00:00'), 378.07)
(Timestamp('2006-02-24 00:00:00'), 377.4)
(Timestamp('2006-02-27 00:00:00'), 390.375)
(Timestamp('2006-02-28 00:00:00'), 362.62)
(Timestamp('2006-03-01 00:00:00'), 364.8)
(Timestamp('2006-03-02 00:00:00'), 376.45)
(Timestamp('2006-03-03 00:00:00'), 378.18)
(Timestamp('2006-03-06 00:00:00'), 368.1)
(Timestamp('2006-03-07 00:00:00'), 364.45)
(Timestamp('2006-03-08 00:00:00'), 353.88)
(Timestamp('2006-03-09 00:00:00'), 343.0)
(Timestamp('2006-03-10 00:00:00'), 337.5)
(Timestamp('2006-03-13 00:00:00'), 337.06)
(Timestamp('2006-03-14 00:00:00'), 351.16)
(Timestamp('2006-03-15 00:00:00'), 344.5)
(Timestamp('2006-03-16 00:00:00'), 338.77)
(Timestamp('2006-03-17 00:00:00'), 339.79)
(Timestamp('2006-03-20 00:00:00'), 348.19)
(Timestamp('2006-03-21 00:00:00'), 339.92)
(Timestamp('2006-03-22 00:00:00'), 340.22)
(Timestamp('2006-03-23 00:00:00'), 341.89)
(Timestamp('2006-03-24 00:00:00'), 365.8)
(Timestamp('2006-03-27 00:00:00'), 369.69)
(Timestamp('2006-03-28 00:00:00'), 377.2)
(Timestamp('2006-03-29 00:00:00'), 394.98)
(Timestamp('2006-03-30 00:00:00'), 388.44)
(Timestamp('2006-03-31 00:00:00'), 390.0)
(Timestamp('2006-04-03 00:00:00'), 389.7)
(Timestamp('2006-04-04 00:00:00'), 404.34)
(Timestamp('2006-04-05 00:00:00'), 407.99)
(Timestamp('2006-04-06 00:00:00'), 411.18)
(Timestamp('2006-04-07 00:00:00'), 406.16)
(Timestamp('2006-04-10 00:00:00'), 416.38)
(Timestamp('2006-04-11 00:00:00'), 409.66)
(Timestamp('2006-04-12 00:00:00'), 408.95)
(Timestamp('2006-04-13 00:00:00'), 402.16)
(Timestamp('2006-04-17 00:00:00'), 406.82)
(Timestamp('2006-04-18 00:00:00'), 404.24)
(Timestamp('2006-04-19 00:00:00'), 410.5)
(Timestamp('2006-04-20 00:00:00'), 415.0)
(Timestamp('2006-04-21 00:00:00'), 437.1)
(Timestamp('2006-04-24 00:00:00'), 440.5)
(Timestamp('2006-04-25 00:00:00'), 427.16)
(Timestamp('2006-04-26 00:00:00'), 425.97)
(Timestamp('2006-04-27 00:00:00'), 420.03)
(Timestamp('2006-04-28 00:00:00'), 417.94)
(Timestamp('2006-05-01 00:00:00'), 398.9)
(Timestamp('2006-05-02 00:00:00'), 394.8)
(Timestamp('2006-05-03 00:00:00'), 394.17)
(Timestamp('2006-05-04 00:00:00'), 394.75)
(Timestamp('2006-05-05 00:00:00'), 394.3)
(Timestamp('2006-05-08 00:00:00'), 394.78)
(Timestamp('2006-05-09 00:00:00'), 408.8)
(Timestamp('2006-05-10 00:00:00'), 402.98)
(Timestamp('2006-05-11 00:00:00'), 387.0)
(Timestamp('2006-05-12 00:00:00'), 374.13)
(Timestamp('2006-05-15 00:00:00'), 376.2)
(Timestamp('2006-05-16 00:00:00'), 371.3)
(Timestamp('2006-05-17 00:00:00'), 374.5)
(Timestamp('2006-05-18 00:00:00'), 370.99)
(Timestamp('2006-05-19 00:00:00'), 370.02)
(Timestamp('2006-05-22 00:00:00'), 370.95)
(Timestamp('2006-05-23 00:00:00'), 375.58)
(Timestamp('2006-05-24 00:00:00'), 381.25)
(Timestamp('2006-05-25 00:00:00'), 382.99)
(Timestamp('2006-05-26 00:00:00'), 381.35)
(Timestamp('2006-05-30 00:00:00'), 371.94)
(Timestamp('2006-05-31 00:00:00'), 371.82)
(Timestamp('2006-06-01 00:00:00'), 382.62)
(Timestamp('2006-06-02 00:00:00'), 379.44)
(Timestamp('2006-06-05 00:00:00'), 374.44)
(Timestamp('2006-06-06 00:00:00'), 389.99)
(Timestamp('2006-06-07 00:00:00'), 386.51)
(Timestamp('2006-06-08 00:00:00'), 393.3)
(Timestamp('2006-06-09 00:00:00'), 388.2904)
(Timestamp('2006-06-12 00:00:00'), 381.54)
(Timestamp('2006-06-13 00:00:00'), 386.525)
(Timestamp('2006-06-14 00:00:00'), 384.39)
(Timestamp('2006-06-15 00:00:00'), 391.0)
(Timestamp('2006-06-16 00:00:00'), 390.7)
(Timestamp('2006-06-19 00:00:00'), 388.14)
(Timestamp('2006-06-20 00:00:00'), 387.17)
(Timestamp('2006-06-21 00:00:00'), 402.13)
(Timestamp('2006-06-22 00:00:00'), 399.95)
(Timestamp('2006-06-23 00:00:00'), 404.86)