In [1]:
from btbot.database.utils import get_symbols, get_info_SP500

In [2]:
QUANDL_APIKEY = "VBG5xmxqpRXRex_xQ-9Y"
df_info = get_info_SP500()

In [5]:
df_info.head()

,CIK,Date first added[3][4],Founded,GICS Sector,GICS Sub Industry,Location,SEC filings,Security,Ticker symbol
0,0000066740,,1902\n,Industrials,Industrial Conglomerates,"St. Paul, Minnesota",reports,3M Company,MMM
1,0000001800,1964-03-31,1888\n,Health Care,Health Care Equipment,"North Chicago, Illinois",reports,Abbott Laboratories,ABT
2,0001551152,2012-12-31,2013 (1888)\n,Health Care,Pharmaceuticals,"North Chicago, Illinois",reports,AbbVie Inc.,ABBV
3,0000815094,2018-05-31,1981\n,Health Care,Health Care Equipment,"Danvers, Massachusetts",reports,ABIOMED Inc,ABMD
4,0001467373,2011-07-06,1989\n,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",reports,Accenture plc,ACN

In [54]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from collections import defaultdict
import pandas as pd


def get_info_sp500():
    wiki_url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
    html = urlopen(wiki_url)
    bsobj = BeautifulSoup(html, 'lxml')
    table = bsobj.findAll('tbody')[0].findAll('tr')
    info = defaultdict(list)
    columns = [x.get_text() for x in table[0].findAll('th')]
    for row in table[1:]:
        row = [x.get_text() for x in row.findAll('td')]
        for i, col in enumerate(columns):
            info[col].append(row[i])
    return pd.DataFrame(info)

In [56]:
df_info = get_info_sp500()

In [58]:
df_info['Ticker symbol']

0        MMM
1        ABT
2       ABBV
3       ABMD
4        ACN
5       ATVI
6       ADBE
7        AMD
8        AAP
9        AES
10       AET
11       AMG
12       AFL
13         A
14       APD
15      AKAM
16       ALK
17       ALB
18       ARE
19      ALXN
20      ALGN
21      ALLE
22       AGN
23       ADS
24       LNT
25       ALL
26     GOOGL
27      GOOG
28        MO
29      AMZN
       ...
475     VRTX
476     VIAB
477        V
478      VNO
479      VMC
480      WMT
481      WBA
482      DIS
483       WM
484      WAT
485      WEC
486      WFC
487     WELL
488      WDC
489       WU
490      WRK
491       WY
492      WHR
493      WMB
494     WLTW
495     WYNN
496      XEL
497      XRX
498     XLNX
499       XL
500      XYL
501      YUM
502      ZBH
503     ZION
504      ZTS
Name: Ticker symbol, Length: 505, dtype: object

In [57]:
df_info.columns

Index(['CIK', 'Date first added[3][4]', 'Founded\n', 'GICS Sector',
       'GICS Sub Industry', 'Location', 'SEC filings', 'Security',
       'Ticker symbol'],
      dtype='object')

In [21]:
bsobj.findAll(text='the prince')

['the prince',
 'the prince',
 'the prince',
 'the prince',
 'the prince',
 'the prince',
 'the prince']